// Define colorsets
Colorset = {
	// Pale Yellow
	default: {
		// Elements
		color:			hsla(0 0 20 1)		// Black
		inverted:		hsla(0 0 100 1)		// White
		background:		hsla(0 0 100 1)		// White
		accent_1:		hsla(211 100 50)	// Blue
		accent_2:		hsla(241 61 59 1)	// Purple
		accent_3:		hsla(241 61 59 1)	// Pink
		reduced_1:		hsla(0 0 40 1)		// Gray
	}
}

.colortheme-default
	// Theme defaults
	background: Colorset.default.background
	color: Colorset.default.color
	// Color
	.color-main
		color: Colorset.default.color
	.color-inverted
		color: Colorset.default.inverted
	.color-accent-1
		color: Colorset.default.accent_1
	.color-accent-2
		color: Colorset.default.accent_2
	.color-accent-3
		color: Colorset.default.accent_2
	.color-reduced-1
		color: Colorset.default.reduced_1

	// Background
	.background-main
		background: Colorset.default.color
	.background-accent-1
		background: Colorset.default.accent_1
	.background-accent-2
		background: Colorset.default.accent_2
	.background-accent-3
		background: Colorset.default.accent_2
	.background-reduced-1
		background: Colorset.default.reduced_1
