html
	font-size 62.5%
	box-sizing border-box
	max-width 100vw

*
*:before
*:after
	box-sizing inherit

input:focus
select:focus
textarea:focus
button:focus
	outline none

body
	margin 0
	padding 0
	max-width 100vw
	overflow-x hidden

.Wrapper
	position relative
	overflow hidden
	max-width 100vw
