doctype html(lang='ru')
html
head
	title Create something...
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(rel='stylesheet', type='text/css', href!='/style.css')
body
	div.Wrapper
		header.Header
			h1 Hello! I am dev environment.
